---
layout: default
---

<div id="particles-js">
</div>

<div class="container">
  <div class="row header-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <div class="page-header">
        <h1 class="display-1">About</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1">
      <div class="position-fixed" style="z-index:1020">
        <div class="navicon logo">
          <a href="/">
            <img class="pixel-image icon-link" src="../images/logo.png" height="44px" width="44px">
          </a>
          <span class="tool-tip">MAIN MENU</span>
        </div>
        <div class="navicon logo">
          <a href="/resume">
            <img class="pixel-image icon-link" src="../images/icon-resume.png" height="44px" width="44px">
          </a>
          <span class="tool-tip">RESUME</span>
        </div>
        <div class="navicon logo">
          <a href="/projects">
            <img class="pixel-image icon-link" src="../images/icon-projects.png" height="44px" width="44px">
          </a>
          <span class="tool-tip">PROJECTS</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11" style="font-size:40px">
      <div class="card mb-3">
        <div class="card-body text-dark bg-light">
          <p class="card-text job-description">{{ content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
