---
layout: default-noscroll
---

<div id="particles-js">
</div>

<div id="menu">
  <h1>{{ site.username }}</h1>
  <h3><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></h3>
  <!-- <h2>{{ site.user_title }}</h2> -->
  <!-- <div class="menu-list">
    <div class="menu-item">
      <img class="menu-cursor pixel-image" src="../images/cursor.png" height="21px" width="12px">
      <a class="menu-link" href="/about">About Me</a>
    </div>
    <div class="menu-item">
      <img class="menu-cursor pixel-image" src="../images/cursor.png" height="21px" width="12px">
      <a class="menu-link" href="/resume">Resume</a>
    </div>
    <div class="menu-item">
      <img class="menu-cursor pixel-image" src="../images/cursor.png" height="21px" width="12px">
      <a class="menu-link" href="/projects">Projects</a>
    </div> -->
    <!-- <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/mauriciourraco7"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
    <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/mauricio.urraco"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
    <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/murraco"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a aria-label="My Github" target="_blank" href="https://github.com/murraco"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a> -->
  <!-- </div> -->
</div>
